@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


body {
  font-family: 'Nunito', sans-serif;
  background-color: white;
}



#title{
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  font-family: 'Nunito', sans-serif;
  color: white
  text-align: center;

}


#startButton {
  font-size: 200%;
  text-align: center;
  border: none;
  background-color: rgb(182, 174, 174);
  color: black;
  width: 18%;
}



#quiz-container {
  align-items: center;
  width: 80%;
  display: grid;
  margin: 200px;
  background-color: none;

}


.buttons {
  font-size: 100%;
  align-items: center;
  margin: 5px;
  width: 22%;
}


#question {
  font-size: 25px;
  font-weight: bold;
  color: black;
  text-align: center;
}


#clock {
  font-size: 150%;
  margin-right: 200px;
  margin-bottom: 50px;
  color: black;
  background: none;
}


.hide {
  display: none;
}



.controls {
  text-align: center;
}



#score-container {  
  margin-left: 750px;
  padding: 20px;
}


input {
  background-color:black;
  border-radius: 3px;
  border: black;
  font-size: 200%;
  line-height: 30px;
  max-width: 50%;
  margin: 20px;
  padding: 3px;
  color: white;
}



label {
   font-size: 25px;
   color: black;
}



#submitBtn {
  text-align: center;
  font-size: 200%;
  align-items: center;
  width: 20%;
  border: none;
}


#score {
  font-size: 25px;
  color: black;
  text-align: center;
}


.card {
  margin-left: 750px;
  padding: 20px;
  font-size: 200%;
  background-color: black;
  color: black;
  text-align: center;
  display: none;
}